<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TournamentBuilderLib.GoogleSheet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TournamentBuilderLib.GoogleSheet>
            <setting name="SHEET_ID" serializeAs="String">
                <value>1vY3Yibc_09a7h7Q8YkHj0axat510h0zkyI34UCn3c-c</value>
            </setting>
            <setting name="RESULT_SHEET_NAME" serializeAs="String">
                <value>Итоги</value>
            </setting>
            <setting name="SCORE_SHEET_NAME" serializeAs="String">
                <value>Рейтинг</value>
            </setting>
        </TournamentBuilderLib.GoogleSheet>
    </userSettings>
</configuration>